{% extends 'Bakery/base.html' %}

{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/home.css' %}?={% now 'U' %}">
</head>
<br>
<div>
    <div id="main-info">
        <img id="maplocation-img" src="{% static 'images/maplocation.png' %}" alt="Business Location" class="maplocation">
        <img id="logo-img" src="{% static 'images/logo.png' %}" alt="Business Logo" class="logo">
    </div>
    <div >
        <div class="text-box">
            {% for line in news_document %}
                <p>{{line}}</p>
            {% endfor %}
        </div>
    </div>
<div>
{% endblock %}