{% extends 'Bakery/base.html' %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/products.css' %}?={% now 'U' %}">
</head>
<br><br>
<h2 style="display: inline-block; color:blue; width:80%; margin-left: auto; margin-right: auto">
    Check out our delicious products! 😋
</h2>
<br>
{% for type, products in products.items %}
    <div class="product-category">
        <h3>{{type}}</h3>
        <div class="product-list">
            {% for product in products %}
                <!-- Make product card -->
                <a href="{% url 'product' id=product.id %}">
                    <div class="product-card">
                        <div class="product-card-logo">
                            <img src="{% static 'images/'|add:product.name|add:'.jpg' %}">
                        </div>
                        <div class="product-card-info">
                            <p class="product-name"><strong>{{product.name}}</strong></p>
                            <p class="product-price">{{product.price}}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endfor %}
{% endblock %}