/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Great+Vibes&family=Lobster&family=Pacifico&display=swap');



body {
    padding: 0; 
    margin:0;
}

#page-header {
    background-color: ghostwhite;
    padding-left: 1em;
    padding-right: 1em;
    border-bottom: 0.1em solid blue;
}

#main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#main-header h1 {
    background-color: ghostwhite;
    color: black;
    position: relative;
    left: 0;
    margin-bottom:0;
    font-family: 'Alex Brush', cursive;
    font-size: 4em;
}

#main-header h1 a {
    color: blue;
    text-decoration: none;
}

#customer-section {
    display: flex;
    flex-direction: column;
    float: right;
    width: 10em;
}

#actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#cart-section {
    text-decoration: none;
}

#cart-section img {
    background-color: transparent;
    width: 5em;
    height: 2.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    /* border: 0.1em solid blue; */
    border-radius: 100px;
}

#cart-section img:hover {
    background-color: lightblue;
}

.login-logout {
    padding: 2em 1em 2em 1em;
    border: none;
    border-radius: 40%;
}


#main-nav {
    position: relative;
    height: 6em;
    
    /* overflow: ; */
}

#nav-container {
    display: flex;
    justify-content: center;
    margin:auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right:0;
    top:0;
    transform: translateY(60%);
}

nav {
    display: flex;
    justify-content: center;
    /* border-top: 0.1em solid red;
    border-left: 0.1em solid red;
    border-right: 0.1em solid red; */
}


nav a {
    color: black;
    font-size: 2em;
    text-decoration: none;
    height:1.2em;
    
    margin-left: 0.1em;
    margin-right: 0.1em;
    padding-left: 0.25em;
    padding-right:0.25em;
    /* border-top-left-radius: ; */
}

/* Special styling for nav where page is selected */
.selected-nav {
    background-color:white;
    border: 0.08em solid blue;
    border-bottom: 0em;
    border-radius: 0.3em 0.3em 0em 0em;
}

/* nav a:visited {
    color: blue;
} */



.main-container {
    /* background: white; */
    width:85%;
    margin-left: auto;
    margin-right: auto;
}